.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.taskForm {
  display: flex;
  flex-direction: column;
}
.taskDiv {
  width: 450px;
}
.formLabel {
  margin: 10px 0;
}
.taskInput {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
.formButton {
  padding: 10px 0;
  background: red;
  margin: 10px 0;
  font-size: 15px;
  text-align: center;
  border: 1px solid red;
}
